@import "vars";
@import "libs";
@import "fonts";
@import "global";


.header{
  margin-top: 26px;
  &__btn{
    padding: 9px 20px;
    font-size: 15px;
    line-height: 16px;
    margin-left: 20px;
    margin-right: 0;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
  }
  &__bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
  }
}

.title{
  max-width: 820px;
  font-size: 48px;
  line-height: 64px;
  color: #212B31;
  margin-bottom: 30px;
  text-align: center;
}
.logo__img{
  width: 237px;
  height: 44px;
}


.menu{
  display: flex;
  align-items: center;
  &__list{
    display: flex;
    &-item{
      font-size: 16px;
      line-height: 19px;
      & + &{
        margin-left: 22px;
      }
      &__link{
        transition: all .3s;
        &:hover{
          color: #036FC7;
        }
      }
    }
  }
}


.banner{
  &__inner{
    text-align: center;
  }
  &__img{
    margin-bottom: 36px;
    max-width: 1040px;
    width: 100%;
    height: 100%;
  }
  &__img-small{
    max-width: 806px;
    width: 100%;
    height: 100%;
  }
  margin-bottom: 150px;
}

.benefits{
  margin-bottom: 142px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &-title{
      font-size: 18px;
      line-height: 24px;
      color: #212B31;
      margin-bottom: 10px;
    }
    &-text{
      font-size: 16px;
      line-height: 24px;
    }
    &-img{
      width: 48px;
      height: 48px;
      margin-bottom: 20px;
    }
  }
}

.building{
  &__inner{
    text-align: center;
  }
  &__top{
    text-align: center;
    margin-bottom: 144px;
    &-title{
      font-size: 32px;
      line-height: 48px;
      color: #212B31;
      margin-bottom: 16px;
    }
    &-text{
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 40px;
      padding: 0 12px;
    }
    &-img{
      max-width: 1040px;
      width: 100%;
      height: 100%;
    }
  }
  &__center-title{
    font-size: 32px;
    line-height: 48px;
    color: #212B31;
    max-width: 781px;
    margin: 0 auto 168px;
  }
  &__bottom{
    display: flex;
    text-align: left;
    padding-right: 34px;
    &-title{
      font-size: 32px;
      line-height: 48px;
      color: #212B31;
      margin-bottom: 16px;
    }
    &-text{
      margin-bottom: 28px;
    }
    &-link{
      color: #212B31;
    }
    &-img{
      max-width: 464px;
      width: 100%;
      height: 100%;
    }
  }
  margin-bottom: 71px;
}

.partners{
  margin-bottom: 78px;
  &__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EEF2F3;
    border-top: 1px solid #EEF2F3;
    padding: 56px 0;
  }
  &__item{
    display: block;
    margin: 0 auto;
    width: 180px;
    max-height: 90px;
    height: 100%;
  }
}


.about{
  &__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__top{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &-title{
      margin-bottom: 21px;
    }
    &-text{
      margin-bottom: 28px;
      max-width: 827px;
    }
  }
  &__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    align-items: center;
    width: 100%;
    min-width: 1040px;
    &:nth-child(even){
      padding-left: 75px;
      padding-right: 0;
      flex-direction: row-reverse;
    }
    &:nth-child(odd){
      padding-right: 50px;
      padding-left: 0;
    }
    &:last-child{
      margin-bottom: 0;
    }
    &-title{
      margin-bottom: 19px;
      max-width: 600px;
    }
    &-text{
      max-width: 500px;
    }
    &-img{
      height: 100%;
      width: 41.5%;
      object-fit: contain;
    }
  }
  &__items{
    max-width: 1040px;
  }
  margin-bottom: 143px;
}

.delivery{
  &__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__title{
    margin-bottom: 21px;
  }
  &__top-text{
    max-width: 643px;
    margin-bottom: 43px;
  }
  &__item{
    max-width: 334px;
    margin-bottom: 33px;
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    text-align: left;
    &-title{
      margin-bottom: 11px;
    }
    &-img{
      margin-right: 16px;
      width: 48px;
      height: 48px;
    }
  }
  &__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__bottom-text{
    margin-top: -10px;
    .underline{
      color: #212B31;
      display: inline-block;
    }
  }
  margin-bottom: 143px;
}


.reliability{
  &__inner{
    text-align: center;
  }
  &__title{
    position: relative;
    display: inline-block;
    margin-bottom: 17px;
    &::after{
      position: absolute;
      content: '';
      background-image: url('../img/reliability-title.svg');
      width: 42px;
      height: 40px;
      right: -32px;
      top: -19px;
    }
  }
  &__text{
    max-width: 857px;
    margin: 0 auto 48px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 62px;
    align-items: flex-start;
  }
  &__item{
    max-width: 333px;
    &-img{
      width: 48px;
      height: 48px;
    }
  }
  &__bottom{
    padding: 49px 40px;
    background: #F6F8F9;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-text{
      padding-left: 64px;
      position: relative;
      font-size: 18px;
      line-height: 32px;
      color: #212B31;
      span{
        font-weight: 500;
      }
      &::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        background-image: url('../img/reliability-bottom.svg');
        height: 40px;
        width: 40px;
      }
    }
  }
  margin-bottom: 144px;
}


.app{
  background: #212B31;
  .container-max{
    padding: 0;
  }
  &__inner{
    padding: 143px 0 118px 13.33%;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 127px;
    &-item{
      max-width: 590px;
      margin-bottom: 24px;
      padding-left: 40px;
      position: relative;
      &::before{
        position: absolute;
        content: '';
        top: 8px;
        left: 0;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        background: #FFFFFF;
      }
      &-last{
        margin-bottom: 50px;
      }
      &__title{
        color: #FFFFFF;
        margin-bottom: 10px;
        max-width: 550px;
      }
      &__text{
        color: rgba(255, 255, 255, 0.75);
      }
    }
    &-btn__box{
      .btn{
        background: #212B31;
        color: #FFFFFF;
        border: 1px solid #DADEDF;
        &-demo{
          background: #FFFFFF;

          color: #212B31;
        }
      }
    }
    &-img{
      width: 618px;
      height: 493px;
      &__box{
        margin-right: -12px;
      }
    }
  }
  &__title{
    color: #FFFFFF;
    margin-bottom: 50px;
  }
  &__items{
    max-width: 1070px;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 340px;
    text-align: center;
    &-title{
      color: #FFFFFF;
    }
    &-text{
      color: rgba(255, 255, 255, 0.75);
    }
    &-img{
      width: 48px;
      height: 48px;
    }
  }

  margin-bottom: 143px;
}

.how{
  margin-bottom: 94px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__title{
    margin-bottom: 21px;
  }
  &__text{
    margin-bottom: 60px;
  }
  &__left{
    max-width: 462px;
  }
  &__right{
    max-width: 520px;
  }
  &__img{
    max-width: 336px;
    width: 100%;
    max-height: 392px;
    height: 100%;
    object-fit: contain;
  }
  &__list{
    counter-reset: listNumber;
    &-item{
      padding-left: 72px;
      margin-bottom: 30px;
      position: relative;
      &::before{
        position: absolute;
        counter-increment: listNumber;
        content:""
        counter(listNumber);
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        padding: 11px 15px 10px;
        border: 1px solid #DADEDF;
        font-size: 16px;
        line-height: 19px;
        color: #72787D;
      }
    }
    &-title{
      margin-bottom: 10px;
    }
  }
}


.why{
  margin-bottom: 127px;
  &__inner{
    text-align: center;
  }
  &__title{
    margin-bottom: 17px;
  }
  &__text{
    margin-bottom: 50px;
    color: #212B31;
  }
  &__content{
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 127px;
    align-items: flex-start;
  }
  &__items{
    max-width: 458px;
  }
  &__item{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &-content{
      margin-left: 16px;
    }
    &-title{
      margin-bottom: 10px;
    }
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
    &-text{
      max-width: 394px;
    }
    &-img{
      width: 48px;
      height: 48px;
    }
  }
  &__slider{
    max-width: 614px;
    margin-right: -96px;
    padding: 42px 92px 56px 41px;
    background: #F6F8F9;
    border-radius: 5px;
    &-inner{
      padding: 15px 0 0 46px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        width: 102px;
        height: 78px;
        background-image: url('../img/why__slider-bg.png');
        top: 0;
        left: 0;
        z-index: -1;
      }
    }
    &-title{
      font-size: 30px;
      margin-bottom: 28px;
    }
    .slick-dots{
      display: flex;
      margin-left: 46px;
      li{
        background: rgba(3, 111, 199, 0.2);
        border-radius: 8px;
        width: 8px;
        height: 8px;
        button{
          background: rgba(3, 111, 199, 0.2);
          border-radius: 8px;
          width: 8px;
          height: 8px;
          border: none;
          outline: none;
          display: none;
        }
        &+li{
          margin-left: 8px;
        }
        &.slick-active{
          background: #036FC7;
        }
      }
    }
  }
}

.author{
  display: flex;
  align-items: center;
  &__title{
    font-size: 16px;
    line-height: 19px;
    color: #212B31;
    margin-bottom: 1px;
  }
  &__text{
    font-size: 16px;
    line-height: 19px;
    color: #72787D;
  }
  &__img{
    display: inline-block;
    margin-right: 8px;
    width: 48px;
    height: 48px;
  }

  padding-bottom: 28px;
}



.projects{
  &__inner{
    max-width: 672px;
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: center;
  }
  &__text{
    max-width: 139px;
    font-size: 16px;
    line-height: 19px;
    color: #72787D;
  }
  &__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 201px;
    align-items: center;
    flex-basis: 33.3%;
    margin: 0 auto 41px;
  }
  &__img{
    height: 112px;
    width: 100%;
    object-fit: contain;
    &--2{
      height: 88px;
    }
  }

  margin-bottom: 101px;
}


.ready{
  &__inner{
    background-image: url('../img/ready-bg.png');
    padding: 117px 38px;
    text-align: center;
    border-radius: 6px;
  }
  &__title{
    margin-bottom: 54px;
    font-size: 48px;
    line-height: 64px;
  }

  margin-bottom: 150px;
}


.footer{
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 150px;
  }
  &__subtitle{
    font-size: 16px;
    line-height: 24px;
    color: #212B31;
    margin-bottom: 22px;
    pointer-events: none;
  }
  &__item{
    max-width: 200px;
  }
  &__contacts{
    max-width: 300px;
    &-text{
      margin-bottom: 10px;
      &--last{
        margin-bottom: 20px;
      }
    }
  }
  &__logo{
    width: 175px;
    height: 33px;
    margin-bottom: 22px;
  }
  &__list-item{
    margin-bottom: 8px;
  }
  &__bottom{
    padding: 33px 0;
    border-top: 1px solid #DADEDF;
    display: flex;
    justify-content: space-between;
  }
  &__social-img{
    width: 24px;
    height: 24px;
  }
}


.menu__btn{
  display: none;
}

#modal{
  form{
    display: flex;
    flex-direction: column;
  }
  input{
    margin-bottom: 15px;
    padding: 2px 10px;
    width: 100%;
  }
  .btn-demo{
    margin-right: 0;
  }
}





@import "media";
